<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-left">
          <img src="<%= "/user_images/#{post.user.image_name}" %>">
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(post.user.name, "/users/#{post.user.id}") %>
          </div>
          <div class="post-user-names">
            <%= link_to(post.content, "/posts/#{post.id}") %>
          </div>
          <% if post.video.present? %>
            <p class="samples">
              <%= link_to post.video_url.to_s do %>
              <%= video_tag(post.video.to_s,  height: "50%", width: "50%", controls: true, autobuffer: true )%>
              <% end %>
            </p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
